<form method="post" action="/checklists/<%= checklistId %>/tasks">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" type="text" name="task[name]" placeholder="Lista de tarefas" value="<%= task.name %>">
      <% if(task.error && task.errors.hasOwnProperty('name')) { %>
        <p class="is-danger help"><%= checklist.error.name.message %></p>
      <% } %>
    </div>
  </div>

  <button type="submit" class="button is-success">Salvar</button>
  <a href="/checklists/<%= checklistId %>" class="button">Cancelar</a>
</form>